body {
    background-color: aliceblue;
    width: 100%;
}

#index-header {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 2rem;
}

#gridContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3% auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#gridContainer::after {
    content: "";
    min-width: 300px;
    max-width: 600px;
    width: 450px;
}

.Assignment-Card {
    border: 2px solid black;
    border-radius: 10px;
}

#main-content {
    min-width: 300px;
    max-width: 600px;
    width: 450px;
    height: 150px;
    text-align: center;
    margin-top: 5%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 10px;
}

#section-header {
    font-size: 1.8rem;
    margin: 5%;
}

#button-to-media {
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 2px solid azure;
    background-color: #a8eac6;
    border-radius: 10px;
    font-size: 14px;
}
