body {
    background-color: aliceblue;
}

#chartArea {
    margin-left: calc(100% - 76%);
    margin-top: 1%;
}

#myCanvas {
    border: 2px solid black;
}

#chart-header {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 1.8rem;
}

#chart-footer {
    margin-top: 10px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 1.5rem;
}
